<!-- <div class="flex login-container"></div> -->
<!-- <div class="button button-container">
	 <button class="btn btn-large indigo darekn-2 justify-center " (click) = "login()">Google</button>
	 <button class="btn btn-large indigo darekn-2 justify-center " (click) = "logout()">Sign Out Google</button>
 </div> -->
 <div class="section_container flex justify-center align-center">
 	<div class="login-container flex justify-center flex-dir-column">
 		<h2 class="h2_login flex justify-center">Sign In</h2>
 		<input type="Email" placeholder="Email" class="input"/>
 		<input type="text" placeholder="Name" class="input"/>
 		<input type="password" placeholder="password" class="input"/>
 		<button type="submit" class="btn btn-large login_button">Submit</button>
 		<h6 class="flex justify-center">or</h6>
 		<div class="google_login_container flex justify-center align-center" (click) = "login()">Sign In With Google</div>
 	</div>
 </div>
